In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [3]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
#pandas with dictionary

In [5]:
d1= pd.Series({"k1":20,"k2":30,"k3":40})

In [6]:
d1

k1    20
k2    30
k3    40
dtype: int64

In [7]:
d1= pd.Series({"k1":20,"k2":30,"k3":40}, index=["k3","k1","k2"])

In [8]:
d1

k3    40
k1    20
k2    30
dtype: int64

In [9]:
d1

k3    40
k1    20
k2    30
dtype: int64

In [10]:
d1 = pd.Series([1,2,3,4,5,6])

In [11]:
d1[3]

4

In [12]:
d1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [13]:
d1[-3:]

3    4
4    5
5    6
dtype: int64

In [14]:
#basic operation on series 1) adding a scalar value on series

In [15]:
s1 = pd.Series([10,20,30,40,50])

In [16]:
s2 = pd.Series([110,210,310,410,510])

In [17]:
s1+5

0    15
1    25
2    35
3    45
4    55
dtype: int64

In [18]:
#adding on two series

In [19]:
s1 = pd.Series([10,20,30,40,50])
s2 = pd.Series([110,210,310,410,510])
s1+s2

0    120
1    230
2    340
3    450
4    560
dtype: int64

In [20]:
#creating the dataframe

In [21]:
pd.DataFrame({'name':['usman','suliman','umair'],'marks':[75,55,95]})

      name  marks
0    usman     75
1  suliman     55
2    umair     95

In [22]:
#builtin functions

In [23]:
#how to read file ior load file in jupyter 1) check directory by typing pwd and then change directory by typing cd

In [24]:
cd  /home/mub7/datasets/

/home/mub7/datasets

In [25]:
pwd

'/home/mub7/datasets'

In [26]:
iris = pd.read_csv('Iris.csv')

In [27]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [28]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [29]:
iris.shape

(150, 6)

In [30]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [31]:
iris.iloc[0:3,2:]

   SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0           3.5            1.4           0.2  Iris-setosa
1           3.0            1.4           0.2  Iris-setosa
2           3.2            1.3           0.2  Iris-setosa

In [32]:
#in  loc the last index in inclusive

In [33]:
iris.loc[1:10,("SepalWidthCm")]

1     3.0
2     3.2
3     3.1
4     3.6
5     3.9
6     3.4
7     3.4
8     2.9
9     3.1
10    3.7
Name: SepalWidthCm, dtype: float64

In [34]:
#droping the coloums axis=0 is for rows

In [35]:
iris.drop([1,2,3],axis=0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [36]:
iris.drop("PetalLengthCm",axis=1)

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
3      4            4.6           3.1           0.2     Iris-setosa
4      5            5.0           3.6           0.2     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[150 rows x 5 columns]

In [38]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [39]:
#how to half or double the values in dataset

In [40]:
def double_make(s):
    return s*2

In [41]:
iris[["SepalLengthCm","SepalWidthCm"]].apply(double_make)

     SepalLengthCm  SepalWidthCm
0             10.2           7.0
1              9.8           6.0
2              9.4           6.4
3              9.2           6.2
4             10.0           7.2
..             ...           ...
145           13.4           6.0
146           12.6           5.0
147           13.0           6.0
148           12.4           6.8
149           11.8           6.0

[150 rows x 2 columns]

In [43]:
iris["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64